
<h2> <%= team.name %> Goals</h2>
<a href="/goal/new/<%=team.id%>"> Add Goal</a>

<div class="list-goals">
  <ul>
    <% team.goals.forEach(function(goal) { %>
    <li>
      <%= goal.description %>
      <%= goal.dateDue %>
      <a href="/goal/edit<%= team.id %>">Edit</a>
      <form method="POST" action="/goal/delete/<%= goal.id %>">
        <input type="submit" value="trash">
      </form>
      </a>
      <a href="/project/new/<%= team.id %>">New</a>
    </li>
  </ul>
  <% }) %>
</div>

<div class="list-projects">
  <h2> Projects</h2>
  <% team.projects.forEach(function(project) { %>
    <ul>
      <li>
        <%= project.name %>
        <%= project.dateDue %>
        <a href="/milestone/new/<%= team.id%>">Add Milestone</a>
        <form method="POST" action="/project/delete/<%= project.id %>">
          <input type="submit" value="trash">
        </form>
      </li>
    </ul>
  <% }) %>
</div>

<h2> Checklist </h2>
<div class="list-milestones">
  <ul>
    <% team.milestones.forEach(function(milestone) { %>
    <li>
      <% if(milestone.isDone) { %>
        <%= milestone.description %> 
        <%= milestone.dateDue %>
        <form method="POST" action="/milestone/delete/<%= milestone.id %>">
          <input type="submit" value="trash">
        </form>
      <% } else { %>
            <%= milestone.description %> 
            <%= milestone.dateDue %>   
            <form method="POST" action="/milestone/delete/<%= milestone.id %>">
              <input type="submit" value="trash">
            </form>
        <% } %>
      <% }) %>
    </li>
  </ul>
</div>

