<h2> <%= team.name %> Goals</h2>
<a href="/goal/new/<%=team.id%>"> Add Goal</a>

<div class="list-goals">
  <ul>
    <% team.goals.forEach(function(goal) { %>
    <li>
      <%= goal.description %> by <%= goal.dateDue %>
   
      <form method="POST" action="/goal/delete/<%= goal.id %>/?_method=DELETE">
        <input type="submit" value="trash">
        <input type="hidden" name="team" value="<%= team.id %>">
      </form>
      </a>
      <a href="/project/new/<%= team.id %>">New</a>
    </li>
  </ul>
  <% }) %>
</div>

<div class="list-projects">
  <h2> Projects</h2>
  <% team.projects.forEach(function(project) { %>
    <ul>
      <li>
        <%= project.name %> by <%= project.dateDue %>
        <a href="/milestone/new/<%= project.id%>">Add Milestone</a>
        <a href="/project/edit/<%= project.id%>">Edit Project</a>
        <form method="POST" action="/project/<%= project.id %>/?_method=DELETE">
          <input type="submit" value="trash">
          <input type="hidden" name="team" value="<%= team.id %>">
        </form>
      </li>
    </ul>
  <% }) %>
</div>

<h2> Checklist </h2>
<div class="list-milestones">
  <ul>
    <% team.milestones.forEach(function(milestone) { %>
    <li>
      <% if(milestone.isDone) { %>
        <%= milestone.description %> by <%= milestone.dateDue %>
        <form method="POST" action="/milestone/<%= milestone.id %>/?_method=DELETE">
          <input type="submit" value="trash">
          <input type="hidden" name="team" value="<%= team.id %>">
        </form>
      <% } else { %>
            <%= milestone.description %> by<%= milestone.dateDue %>   
            <form method="POST" action="/milestone/<%= milestone.id%>/?_method=DELETE">
              <input type="submit" value="trash">
              <input type="hidden" name="team" value="<%= team.id %>">
            </form>
        <% } %>
      <% }) %>
    </li>
  </ul>
</div>

